
    .beatles {
        background: #80ff00;
        COLOR: rgb(255, 51, 204)
    }

    .stones {
         background: #CFC;
     }

    .who {
        background: #CCF;
        BODY { COLOR: #800080
    }

    .band {
        width:200px;
        height: 30px;
    }